//Write all styles for desktop

.events__title {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 62px;
}

@media (max-width: @desctopWidth)  {
  .events {}

}

//Write all styles for tablet
@media (max-width: @mediumWidth)  {
  .events {
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .events {}
}