//Write all styles for desktop
.full-request__title {
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.full-request__pagination-title {
  display: inline-block;
  margin-left: 25px;
  font-size: 23px;

}

.full-request__step-title {
  margin-top: -10px;
}

.full-request__pages {
  justify-content: flex-start;
  width: auto;
  flex-wrap: wrap;
}

.full-request__item {
  margin-right: 25px;
}

.full-request__radio-wrapper {
  margin-top: 35px;
  width: 100%;
  &--breadcrumbs-free {
    margin-top: 80px;
  }
}

.full-request__input-wrapper {
  align-items: baseline;
  width: 88%;
  justify-content: space-between;
}


.full-request__data-wrapper {
  .full-request__radio-wrapper;
  justify-content: space-between;
}

.full-request__input-aria {
  margin-right: 0;
}

.full-request__input-aria--step4 {
  padding-right: 160px;
}

.full-request__input-aria--step5 {
  padding-right: 140px;
}

.full-request__input-aria--step7 {
  padding-right: 80px;
}

.full-request__form-select {
  min-width: auto;
  padding: 15px 0;
  padding-left: 20px;
  margin: 0;
  background: none;
  border: none;
  font-size: 18px;
  line-height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.full-request__form-list {
  width: 26%;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &::placeholder {
    color: #000000;
  }
  option {
    overflow:scroll;
    font-size: 40px;
    line-height: 40px;
  }
}

.full-request__text {
  font-size: 18px;
  line-height: 30px;
  padding: 15px 30px;
  padding-left: 0;
}

.full-request__date {
  width: 25%;
  padding-left: 55px;
  &-svg {
    left: 22px;
  }
}

.full-request__table {
  margin-top: 48px;
  margin-bottom: 18px;
  width: 88%;
  &-low {
    margin-bottom: 58px;
    width: 52%;
  }
  &--first {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;

  }
  &--down {
    margin-bottom: 80px;
  }
}

.full-request__header {
  padding-right: 5px;
  text-align: left;
  cursor: auto;
}

.full-request__data {
  padding-right: 5px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;

  &--width1 {
    width: 19%;
  }
  &--width2 {
    width: 23.5%;
  }
}

.full-request__data-source {
  margin-left: auto;
}

.full-request__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12%; //145px/1204px;
}

.full-request__btn-down {
  margin-top: auto;
}

.full-request__text {
  width: 28%;
  color: #000000;
  transition: border-bottom-color 0.3s ease-in-out;
  &:focus {
    &::placeholder {
      //color: #000000;
      transition: 0.3s;
    }
    border-bottom: 1px solid black;
  }
}

.full-request__info {
  justify-content: center;

  margin-top: 0;
  padding-left: 65px;
  width: auto;

  line-height: 21px;
  font-size: 17px;
}

.full-request__btn-wrapper {
  width: 79%;
}

.full__request-lock-svg {
  width: 57px;
  margin-top: -28px;
}

.full__request-lock-svg1 {
  fill: @yellow-color;
}
//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {
  .full-request {}
}

//Write all styles for tablet
@media (max-width: @mediumWidth)  {
  .full-request {}
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .full-request {}
}