//Write all styles for desktop
.full-request__title {
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.full-request__pagination-title {
  display: inline-block;
  margin-left: 25px;
  font-size: 23px;

}

.full-request__step-title {
  margin-top: -10px;
}


//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {
  .full-request {}
}

//Write all styles for tablet
@media (max-width: @mediumWidth)  {
  .full-request {}
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .full-request {}
}