.header {
  box-sizing: border-box;
  width: @mobileWidth;
  margin: 0 auto;
  //height: 142px;

  background-color: #4cf67c;
}

.header__toggle-btn {
  display: none;
}

.header__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #324a67;
}

.header__phone {
  margin-left: 138px;
  &-svg {
    fill: #ffffff;
  }
}

.header__login {
  margin-left: 20px;
  &-svg1 {
    fill: #ffffff;
  }
}

.header__phone-text {
  display: none;
}
.header__login-text {
  display: none;
}
.header__login-svg-desc {
  display: none;
}

.header__button {
  display: none;
}

.header__phone--nav {
  display: none;
}
.header__nav .header__btn {
  display: none;
}

.header__nav-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.header__nav-main-item {
  box-sizing: border-box;

  width: 160px;
  padding-left: 0;


  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 43px;
  letter-spacing: 0;
  color: #ffffff;

  background-color: #466182;

  &:first-child,
  &:nth-child(2){
    border-bottom: #feee7e 1px solid;
  }
  &:first-child,
  &:nth-child(3){
    border-right: #feee7e 1px solid;
  }

}

.header__nav-additional {
  display: none;
}

.header__nav-main-link {
  display: block;
  padding-left: 15px;

  background-color: #feca04;
}

.header__nav-additional-link {
  display: block;
  padding-left: 15px;

  background-color: #e7fe98;
}


@media (min-width: @tabletWidth)  {
  .header {
    box-sizing: border-box;
    width: @tabletWidth;
    padding: 0;
  }
  .header__wrapper {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;

    background-color: #ffffff;
  }

  .header__phone {
    margin-left: 140px;

    text-decoration: none;
  }
  .header__phone-svg {
    display: none;
  }

  .header__phone-text {
    display: inline;

    font-family: 'cuprumbold', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;

    color: #000000;

  }

  .header__login {
    margin-left: 120px;

    text-decoration: none;
  }

  .header__login-svg {
    display: none;
  }
  .header__login-text {
    display: inline-block;

    font-family: 'cuprumbold', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;

    color: #305a7f;
  }

  .header__login-svg-desc {
    display: inline;

    width: 16px;
    height: 14px;
    padding-left: 4px;
  }

  .header__login-svg-desc1 {
    fill: #305a7f;
  }

  .header__button {
    display: inline-block;

    margin-left: 20px;
    padding-left: 20px;
    padding-right: 18px;

    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;

    background-color: #305a7f;
    border: 1px solid #305a7f;
    border-radius: 0 10px 10px;
  }

  .header__nav-main-item {
    width: 25%;

    font-size: 18px;
    line-height: 43px;

    &:first-child,
    &:nth-child(2){
      border-bottom: none;
    }
    &:first-child,
    &:nth-child(3){
      border-right: none;
    }
  }

  .header__nav-additional {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  .header__nav-additional-item {
    box-sizing: border-box;

    width: 16.65%;
    padding-left: 0;


    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 0;
    color: #ffffff;

    background-color: #466182;
  }
}

@media (min-width: @desctopWidth) {
  .header {
    box-sizing: border-box;
    width: @desctopWidth;
    padding: 0;
  }
  .header__wrapper {
    .padding-desctop();
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__phone {
    margin-left: 378px;
  }


  .header__login {
    margin-left: 378px;
  }

  .header__nav {
    .padding-desctop();
    &-main {
      width: 55%;
    }
    &-additional {
      width: 45%;
    }
  }
  .header__nav-wrapper {
    display: flex;
    flex-direction: row;
  }

  .header__nav-main-item {
    width: 25%;
    padding-left: 0px;

    line-height: 30px;
    font-weight: bold;

    color: #466182;
    background-color: #fff;
  }
  .header__nav-main-link {
    padding-left: 5px;
  }
  .header__nav-additional-item {
    width: 16.65%;

    line-height: 30px;

    font-size: 16px;
    color: #838383;
    background-color: #fff;
  }
}

@media (max-width: 767.9px) {
  .header__nav {
    position: relative;
  }

  .header__nav--opened {
    min-height: 87px;
  }


  .header__toggle-btn {
    position: absolute;
    right: 40px;
    top: -53px;

    display: block;


    padding: 0;
    border: 0;


    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 28px;
      height: 14px;
      background: #324a67 url("../img/gamburger.png") center no-repeat;
    }
  }

  .header__nav--opened .header__toggle-btn {
    right: 32px;
  }

  .header__nav--opened .header__toggle-btn::before {


    width: 16px;
    height: 16px;
    background: #324a67 url("../img/cross.png") center no-repeat;
  }

  .header__nav--opened .header__nav-main {
    flex-direction: column;
    width: 320px;
  }

  .header__nav--opened .header__nav-main-item {
    width: 320px;

    font-size: 16px;
    line-height: 48px;
  }

  .header__nav--opened .header__nav-additional {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;

    list-style: none;
  }

  .header__nav--opened .header__nav-additional-item {
    box-sizing: border-box;

    width: 320px;
    padding-left: 0;


    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 0;
    color: #9caec5;


    background-color: #466182;
  }

  .header__nav--opened .header__nav-wrapper {
    position: absolute;

    padding-bottom: 24px;

    background-color: #466182;
  }

  .header__nav--opened .header__phone--nav {
    display: block;

    width: 40%;
    margin: 19px auto;
    margin-bottom: 15px;
    font-family: 'cuprumbold', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    text-decoration: none;

    color: #ffffff;
  }

  .header__nav--opened .header__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}