.icon__fb-svg {
  width: 14px;
}

.icon__vk-svg {
   width: 30px;
 }

.icon__googl-svg {
  width: 35px;
}
.icon__fb-svg1,
.icon__vk-svg1,
.icon__googl-svg1 {
  fill: @yellow-color;

}

.icon__cross-svg {
  width: 50px;
  height: 50px;
}

.icon__home-svg {
  fill: #325a7e;
}

.icon__date-svg {}
.icon__input-svg-wrapper{
  right: 5px;
  left: auto;
  width: 22px;
  height: 22px;
  fill: @gray-color;
  &::before {
    content: "Номер вашего автомобиля нужен для автоматического заполнения формы. Если у вас новый автомобиль или вы забыли номер, начните расчет ОСАГО с выбора марки";
    position: absolute;
    top: 30px;
    left: 45px;
    z-index: 2;
    display: none;
    width: 288px;
    padding: 20px 25px;
    font-size: 16px;
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 26px;
    color: #828282;
    border: 1px solid #888;
    background-color: #fff;
  }
  &:hover::before {
    display: block;
  }



}

