.insurance__page {
  padding-top: 60px;
  padding-bottom: 120px;
  min-height: 800px;
  background:
          linear-gradient(90deg, @bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          linear-gradient(@bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          @dot-color;
  background-size: @dot-space @dot-space;

}

.insurance__blocks-wrapper {
  display: flex;
  justify-content: space-between;
  .insurance__step-title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 24px;
    line-height: 30px;
    color: @new-blue;
  }
  .insurance__blocks-wrapper-right {
    width: 31%;
    min-height: 200px;

    .insurance__info {
      margin-bottom: 24px;
      padding: 25px 25px;
      //min-height: 370px;
      box-shadow: 0 10px 28px 0 rgba(54,80,107,.5);
      background-color: white;
      //outline: 1px solid green;
    }
  }
  .insurance__blocks-wrapper-left {
    width: 65%;
    min-height: 200px;
    //background-color: rgba(164, 45, 10, 0.27);
    //outline: 1px solid red;
    .insurance__info {
      min-height: 480px;
      padding: 25px 25px;
      box-shadow: 0 10px 28px 0 rgba(54,80,107,.5);
      background-color: white;
      //outline: 1px solid green;
      .insurance__text-wrapper.insurance--error{
        .insurance--error__text{
          font-size: 14px;
          line-height: 16px;
          text-align: left;
          font-family: 'cuprumbold';
          width: 40%;
          margin-bottom: 0;
        }
        p{
          color: red;
        }
      }
      .insurance__stars {
        font-size: 18px;
        display: flex;
        width: 130px;
        //padding-left: 110px;
        //margin-bottom: 40px;
        line-height: 22px;
        .insurance__stars-full{
          width: 21px;
          display: inline-block;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            transform: translateY(-52%);
            top: 50%;
            width: 21px;
            height: 20px;
            //background-color: green;
            background: url("../img/icons/star_full.png") center no-repeat;
          }

        }
        .insurance__stars-half {
          &:before {
            background: url("../img/icons/star_half.png") center no-repeat;
          }

        }
        .insurance__stars-empty {
          &:before {
            background: url("../img/icons/star_emp.png") center no-repeat;
          }
        }
      }
      .insurance__invisible {
        display: none;
      }
      .insurance__price-text {
        width: 15%;
        font-family: 'robotomedium', 'Arial', sans-serif;
        font-size: 18px;
        color: @new-blue;
      }
      .insurance__step-title {
        width: 20%;
        color: black;
        font-size: 18px;
        text-align: center;
        .icon__input-svg-wrapper {
          right: 0px;
          top: 4px;
        }

      }
      .insurance__text--first {
        width: 30%;
        overflow: hidden;
      }
      .insurance__text--second {
        width: 18%;
      }
      .insurance__text--third {
        width: 130px;
      }
      .insurance__supertitle {
        font-family: 'cuprumbold', 'Arial', sans-serif;
        font-size: 24px;
        line-height: 30px;
        color: @new-blue;
      }
    }
    .test__insurance-wrapper {
      width: 100%;
      margin-bottom: 0;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid @new-grey;
      &:first-of-type {
        border-bottom: none;
      }
      &:last-of-type {
        // border-bottom: none;
        margin-bottom: 40px;
      }
    }
    .insurance__btn {
      padding: 10px 45px;
      font-size: 22px;
      line-height: 30px;
      border-radius: 0 22px 22px;
      &--hidden {
        visibility: hidden;
      }
    }
    .btn--disabled:hover::before {
      display: none;
    }
  }
  .insurance__cashback {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-family: 'robotomedium', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: @new-blue;
    background-color: @new-weat;
    border-radius: 5px;
  }
  .insurance__text {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid @new-grey;
    font-size: 18px;
    line-height: 22px;
    color: @new-blue;
    .insurance__text-letter {
      font-family: 'robotomedium', 'Arial', sans-serif;
      color: black;
    }
    .insurance__text-percentage {
      font-family: 'robotomedium', 'Arial', sans-serif;
    }
    &:last-of-type {

      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .insurance__text-icon {
    width: 90%;
    padding-left: 60px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      transform: translateY(-52%);
      top: 50%;
      width: 45px;
      height: 45px;
      //background-color: green;
      background: url("../img/icons/icon.png") center no-repeat;
    }
    &-two{
      &:before {
        background: url("../img/icons/icon-2.png") center no-repeat;
      }
    }
    &-three {
      &:before {
        background: url("../img/icons/icon-1.png") center no-repeat;
      }
    }


    &:last-of-type {
      margin-bottom: 0;
    }
  }

}




//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {}
//Write all styles for tablet-desctop(less than 1280px)
@media (max-width: @mediumWidth)  {

}
//Write styles for tablet (less than 1024px)
@media (max-width: @lowWidth) {
  .insurance__blocks-wrapper {
    flex-wrap: wrap;
    .insurance__blocks-wrapper-right {
      width: 100%;
    }
    .insurance__blocks-wrapper-left {
      width: 100%;
    }
  }
  
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .insurance__blocks-wrapper {
    .insurance__blocks-wrapper-right .insurance__info {
      padding: 25px 14px;
    }
    .insurance__blocks-wrapper-left {
      
    }

    .insurance__blocks-wrapper-left {
      .test__insurance-wrapper {
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 20px;
        border: none;
        &:first-of-type {
          width: 120px;
        }
      }
      .insurance__info {
        display: flex;
        overflow: auto;
        min-height: auto;
        padding: 0 14px;
        .insurance__text--first,
        .insurance__text--second,
        .insurance__text--third,
        .insurance__stars,
        .insurance__price-text,
        .insurance__step-title{
          width: auto;
          line-height: 62px;
          margin: 0;
        }
        .insurance__supertitle {
          font-size: 20px
        }
      }
    }
  }
  .insurance__page {
    padding-bottom: 60px;
  }
  
}


.insurance{
  .test__title{
    font-family: 'robotomedium';
  }
  .insur__company{
    font-size: 18px;
    color: #26283b;
    &__logo{
      width: 46px;
      height: 46px;
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 1px 1.732px 6px 0px rgba(0, 0, 0, .23);
      background-size: contain;
      background-position: center;
      & + p{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 55px - 12px);
      }
    }
  }
  &__table{
    background: #fff;
    padding: 15px 15px 50px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.12), 0px 5px 8px 0px rgba(0, 0, 0, 0.11);
    border-radius: 8px;

    table{
      width: 100%;
    }
    .hover:hover{
      background-color: #f6f6f6;
    }
    .pointer{
      cursor: pointer;
    }
    th.border-bottom{
      font-family: 'cuprumbold';
      font-size: 24px;
      color: #305a7f;
      text-align: left;
      line-height: 40px;
      padding: 0 15px 0 0;
      &:last-child{
        padding: 0;
      }
    }
    td{
      line-height: 22px;
      font-size: 16px;
      color: #7f7f7f;
    }
    .text-link{
      color: #325a7e;
      border-bottom: 1px dashed #325a7e;
      line-height: 1em;
      &:hover{
        border-bottom: 1px dashed transparent;
      }
    }
    .text-accent{
      font-family: 'robotomedium';
      color: #000;
      white-space: nowrap;
    }
    .contacts-flex{
      display: flex;
    }
    .border-bottom{
      border-bottom: 1px solid #ccc;
      width: 30%;
      min-width: 30%;
      max-width: 30%;
      padding-top: 25px;
      padding-bottom: 20px;
      vertical-align: middle;
      &:first-child{
        padding-left: 10px;
        width: 22%;
        min-width: 22%;
        max-width: 22%;
      }
      &:nth-child(4){
        width: 10%;
        min-width: 10%;
        max-width: 10%;
      }
      &:last-child{
        width: 8%;
        min-width: 8%;
        max-width: 8%;
        padding-right: 10px
      }
    }
    .open{
      .border-bottom{
        border-bottom: 1px solid transparent;
      }
    }
    .padding-right{
      padding-right: 15px;
    }
  }
  &__details{
    display: none;
    .insurance__details__padding{
      padding: 0 10px 15px;
      .company__descr{
        margin-top: 35px;
        margin-bottom: 35px;
        max-width: 1012px;
        .text-accent{
          padding-right: 15px;
        }
        tr{
          td{
            padding-bottom: 20px;
          }
          &.hidden-content{
            &.hidden{
              display: none;
            }
            .review{
              margin-bottom: 25px;
              &__hat{
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
              }
              &er__name{
                font-family: 'robotomedium';
                color: #273c55;
                span{
                  color: #b2b2b2;
                  font-family: 'Roboto';
                }
              }
            }
          }
        }
      }
    }
    .insurance__btn{
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  .insurance__btn{
    padding: 12px 35px;
    font-size: 22px;
    line-height: 30px;
    border-radius: 0 12px 12px;
    color: #000;
    margin-top: 15px;
  }
  .insur__details-trigger{
    &.open{
      background-color: #f6f6f6;
      & + .insurance__details{
        display: table;
        background-color: #f6f6f6;
      }
    }
  }
  .insurnce__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #325a7e;
    a{
      height: 110px;
      width: calc((100% - 2px) / 3);
      background-color: #325a7e;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 22px;
      color: #fff;
      font-family: 'Cuprum';
      img{
        margin-bottom: 5px;
      }
      &:hover{
        background-color: #264f74;
      }
      & + a:before{
        content: '';
        display: block;
        width: 1px;
        height: 70px;
        background-color: rgba(245, 245, 245, .32);
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }
    }
  }
  &__map{
    &__head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 40px 20px;
      .ui.dropdown .text{
        &:after{
          content: 'Другой город';
          display: inline-block;
          margin-left: 15px;
          color: #325a7e;
          border-bottom: 1px dashed #325a7e;
        }
        &:hover{
          text-decoration: none;
          &:after{
            border-bottom: 1px dashed transparent;
          }
        }
      }
      .insur__company{
        font-family: 'Cuprum';
        font-size: 30px;
        color: #305a7f;
        .insur__company__logo + p{
          width: auto;
        }
      }
    }
    .hover.hidden, .insurance__btn.hidden{
      display: none;
    }
    .time{
      display: flex;
      align-items: stretch;
      .day{
        width: 100px;
        padding: 0 5px;
        text-align: center;
        border-left: 1px solid #ccc;
        &:last-child{
          border-right: 1px solid #ccc;
        }
      }
    }
    .departments{
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.12),0px 5px 8px 0px rgba(0, 0, 0, 0.11);
      border-radius: 8px;
      overflow: hidden;
      &__map{
        height: 550px;
      }
    }
    .border-bottom{
      width: 25%;
      min-width: 25%;
      max-width: 25%;
      &:first-child{
        padding-left: 0;
        width: 20%;
        min-width: 20%;
        max-width: 20%;
      }
      &:last-child{
        width: 55%;
        min-width: 55%;
        max-width: 55%;
        padding-right: 10px
      }
    }
    .insurance__table th.border-bottom:last-child {
      padding-right: 10px;
    }
  }
}