.logo__svg {
  width: 40px;
  height: 33px;
}
.logo__svg1{fill:none;}
.logo__svg2{fill:#fff;}
.logo__svg2,.logo__svg5{fill-rule:evenodd;}
.logo__svg3{clip-path:url(#clip-path);}
.logo__svg4{fill:#31597e;}
.logo__svg5{fill:#feca04;}

.logo__text {
  display: none;
  width: 166px;
  height: 34px;
}

.logo__text1 {
  fill: #31597e;
}

@media (min-width: @desctopWidth) {
  .logo__text {
    display: inline;
  }

  .logo__svg {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .logo__svg2 {
    fill: #324a67;
  }
}