.main {
  box-sizing: border-box;
  width: @mobileWidth;
  margin: 0 auto;
  //height: 142px;

  background-color: #1ef6d4;
}

@media (min-width: @tabletWidth)  {
  .main {
    box-sizing: border-box;
    width: @tabletWidth;
    padding: 0;
  }
}

@media (min-width: @desctopWidth) {
  .main {
    box-sizing: border-box;
    width: @desctopWidth;
    padding: 0;
  }
}