//Trying to use desctop first here
//Write all styles for desctop
.main {

  * {
    outline: 1px solid red;
  }

  
}

.main__test{
  padding-top: 167px;
  min-height: 801px;
  background: transparent url("../img/main-test-bg-desc2.jpg") no-repeat center;
  background-size: cover;
}

.main__title {
  width: 570px;

  font-family: 'cuprumbold', 'Arial', sans-serif;
  line-height: 62px;
  font-size: 56px;
  letter-spacing: 0;
}

.main__test-description {
  font-size: 36px;
  color: #325a7e;
}

.main__btn {
  padding: 20px 100px;
  margin-top: 60px;

  font-size: 22px;

  border-radius: 0 20px 20px;

}

.main__test-info {
  width: 260px;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 27px;

  background-color: #bbbbbb;
}

.main__test-price {


  font-size: 152px;
  line-height: 152px;
  letter-spacing: -0.05em;
  color: @yellow-color;
}

.main__test-price-sign {
  font-size: 80px;
}

//Write all styles for tablet
@media (max-width: @desctopWidth)  {
  .main {
  }
  .main__test {
    padding-top: 85px;
    min-height: 801px;
  }

  .main__title {
    width: 460px;

    line-height: 45px;
    font-size: 45px;
    letter-spacing: -0.02em;
  }

  .main__test-description {
    font-size: 30px;
  }

  .main__btn {
    padding: 10px 50px;
    margin-top: 20px;
    border-radius: 0 15px 15px;

  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .main {
  }

  .main__test {
    padding-top: 50px;

    min-height: 425px;
    background: transparent url("../img/main-test-bg-mob.jpg") no-repeat center;
    background-size: cover;
  }

  .main__title {
    width: 290px;

    line-height: 30px;
    font-size: 30px;
    letter-spacing: -0.02em;
  }

  .main__test-description {
    font-size: 20px;
  }

}

@media (max-width: @mobileWidth) {


}