//Trying to use desctop first here
//Write all styles for desctop
.main {

  * {
    outline: 1px solid red;
  }

  
}

.main__test{
	padding-top: 60px;
  min-height: 801px;
  background: transparent url("../img/main-test-bg-desc2.jpg") no-repeat center;
  background-size: cover;
}

.main__title {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  line-height: 62px;
  font-size: 56px;
  letter-spacing: 0;
}

.main__test-description {
  font-size: 36px;
  color: #325a7e;
}

.main__btn {
  font-family: 'cuprumbold', 'Arial', sans-serif;
}


//Write all styles for tablet
@media (max-width: @desctopWidth)  {
  .main {
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .main {
  }

  .main__test {
    min-height: 425px;
    background: transparent url("../img/main-test-bg-mob.jpg") no-repeat center;
    background-size: cover;
  }
}