.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88.5%;
}

.reviews-item {
  width: 44.5%;
  margin-bottom: 65px;
  font-size: 18px;
  line-height: 25px;
}

.reviews-item-title {
  display: block;
  font-family: 'Cuprum','Arial',sans-serif;
  font-size: 38px;
  line-height: 82px;
}

.reviews__title {
  margin-bottom: 65px;

  font-family: 'Cuprum','Arial',sans-serif;
  font-size: 50px;
  line-height: 62px;
}

//Write all styles for small desktop and big tablet
@media (max-width: @desctopWidth)  {
  .reviews {
  }

}

//Write all styles for tablet
@media (max-width: @mediumWidth) {
  .reviews {
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .reviews {
  }
}