//Write styles for desktops
.shops {
}

.shops__group {
  width: 36%;
}

.shops__list {
  padding-left: 45px;
}

.shops__item {
  font-family: 'robotolight','Arial',sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #fff;
}

.shops__name {
  display: block;


  font-family: 'cuprumbold','Arial',sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
}

.shops__town {
  margin-bottom: 45px;
}




//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {
  .shops {}
}

//Write all styles for tablet
@media (max-width: @mediumWidth)  {
   .shops {}
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .shops {}
}