//Styles for huge and big desktops

.slider-range {
  width: 40%;
}

.slider-range__amount {
  margin-top: 5px;
  border:0;
  color: black;
  font-size: 20px;
  line-height: 22px;
  width: fit-content;
}

.slider-range__text {
  font-size: 16px;
  line-height: 20px;
  font-family: 'robotolight', 'Arial', sans-serif;
  color: rgba(0, 0, 0, 0.33);
}


//Write all styles for small desktop and big tablet
@media (max-width: @desctopWidth)  {

}

//Write all styles for tablet-desctop(less than 1280px)
@media (max-width: @mediumWidth) {

}

//Write styles for tablet (less than 1024px)
@media (max-width: @lowWidth) {

}
