.slider {}

.slider__info {
  width: 330px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
/*&:first-child {
  margin-left: 40px;
}*/
}


.slider__info-title {
  display: block;

  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 35px;
  line-height: 82px;
  color: @yellow-color;
}

.slider__price {
  font-size: 152px;
  line-height: 56px;
  color: #4e87cb;

}

.slider__info-percent {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  color: #4e87cb;
  line-height: 60px;
}

.slider__percent {
  width: 152px;
  transform: rotate(270deg) translateY(-120px) translateX(70px) ;
  font-size: 124px;
  line-height: 56px;
  color: #4e87cb;
}

.slider__info-words {
  color: #fff;
}

.slider__btn {
  padding: 12px 52px;
  margin-top: 95px;
  font-size: 20px;
  border-radius: 0 15px 15px;
}

.main__howto .slider__slide {
  display: flex;
  //justify-content: space-between;
  flex-wrap: wrap;
  align-items: self-start;

   min-height: 510px;
}

.slider__slide--space {
  justify-content: space-between;
}

.slider__slide--bg2 {}

.slider__slide--bg1 {}

.slider__slide img{
  max-width: none;
}
.slider__slide-car-pic{
  position: absolute;
  right: calc(((-100vw + 9px + 1390px) / 2) - 380px);
  top: 50%;
  margin-top: -110px;
  z-index: 1;
  &--2 {
    margin-top: -55px;
  }
  &--3 {
    right: calc(((-100vw + 9px + 1390px)/2) - 715px);
    margin-top: -80px;
  }
}

.slider__slide-bag-pic{
  position: absolute;
  bottom: -178px;
  right: 240px;
  &--2 {
    right: 85px;
    top: 30px;
    width: 29%;
  }
  &--3 {
    right: -175px;
    top: 120px;
  }
}

.slider__slide--space .slider__info {
  width: 354px;
  //margin-left: 0;
}

.slider__info:not(:first-child) {
  margin-left: 130px;
}

.slider__slide--space .slider__info:not(:first-child) {
  margin-left: 50px;
  z-index: 1;
}

.slider__info--first {
  width: 220px;
  margin-left: 130px;
  margin-top: 40px;
  flex-direction: column;
}
.slider__info--second {
  width: 200px;
  margin-left: 130px;
  flex-direction: column;

}

.slider__info--third {
  position: relative;


  margin-top: 40px;
  padding-top: 140px;
  //margin-right: 5%;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 25px;
  line-height: 30px;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    display: block;
    margin-left: -55px;
    width: 111px;
    height: 120px;
    background: transparent url("../img/01-main-page/gift-third-slide-howto.svg") no-repeat center;
    background-size: 111px;
  }
}

.slider__info--last {
  margin-right: 5%;
  margin-top: 0;
}

.slider__info-title--colored {
  color: #4e87cb;
}


//Write all styles for big-tablet and small desctop

@media (max-width: (@desctopWidth - 1px))  {
  .slider__info-words {
    font-family: 'Cuprum','Arial',sans-serif;
    font-size: 20px;
    line-height: 27px;
  }
  .slider__info-percent {
    font-size: 80px;
  }
  .slider__info:not(:first-child) {
    margin-left: 90px;
  }
  .slider__info--second {
    margin-left: 100px;
  }

  .slider__info--first {
    margin-left: 60px;
  }
  .slider__slide--space .slider__info:not(:first-child) {
    margin-left: 20px;
  }
  .slider__slide--space .slider__info {
    width: 320px;
  }

  .slider__slide-car-pic {
    right: calc(((-100vw + 9px + 1280px)/2) - 480px);
    &--3 {
      right: calc(((-100vw + 9px + 1280px)/2) - 780px);
    }
  }
  .slider__slide-bag-pic{
    &--2 {
      right: 50px;
    }
    &--3 {
      right: -50px;
    }
  }
}

//Write all styles for tablet

@media (max-width: @mediumWidth)  {
  .slider__slide-car-pic {
    right: calc(((-100vw + 9px + 1280px)/2) - 640px);
    &--3 {
      right: calc(((-100vw + 9px + 1280px)/2) - 780px);
    }
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .slider {}
}