//Write all styles for desctop
.test {
  /** {
    outline: 1px solid red;
  }*/
}

.test__form-wrapper {
  padding-top: 53px;
  position: static;
  &::after {
    content: "";
    position: absolute;
    left: 3px;
    bottom: 0;

    height: 10px;
    background-color: @yellow-color;
    border-bottom-left-radius: 30px 20px;

  }
}

.test__form-step1 {
  &::after {
    width: 14%;
  }
}

.test__form-step2 {
  &::after {
    width: 28%;
  }
}

.test__form-step3 {
  &::after {
    width: 42%;
  }
}

.test__form-step4 {
  &::after {
    width: 56%;
  }
}

.test__form-step5 {
  &::after {
    width: 70%;
  }
}

.test__form-step6 {
  &::after {
    width: 84%;
  }
}

.test__form-step7 {
  &::after {
    width: 100%;
  }
}

.test__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 62px;
  color: #305a7f;
}

.test__form {
  padding: 0 94px;
  min-height: 550px;

  background-color: #fff;
  box-shadow: 0px 10px 28px 0px rgba(54, 80, 107, 0.5);
  border-radius: 20px;

}

.test__pagination {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 62px;
  color: #325a7e;
}

.test__pagination--grey {
  color: @light-grey;
}

.test__step-title {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 45px;
  line-height: 62px;
}

.test__input-aria {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  margin-right: 5%;

  font-size: 18px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(78, 135, 203, 0.39);
}

.test__radio-circle {
  position: static;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 5px;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #305a7f;
    border-radius: 50%;
  }
}

.test__radio {
  display: none;
}

.test__radio:checked + .test__radio-circle::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 11px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #305a7f;;
}

.test__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: flex-start;
  margin-top: 55px;
  margin-bottom: 52px;
}


.test__btn {
  padding: 25px 82px;

  font-size: 30px;
  border-radius: 0 22px 22px;
}

.test__btn-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;

}

.test__info {
  flex-direction: column;
}

.test__btn-price-wrapper {
  display: flex;
  justify-content: space-between;
}

.test__price {
  font-size: 104px;
  line-height: 85px;
}


//Write all styles for small desktop and big tablet
@media (max-width: @desctopWidth)  {
  .test {
  }
  .test__info {
    font-size: 20px;
    line-height: 27px;
  }
  .test__words {
    margin-top: -10px;
  }
}

//Write all styles for tablet
@media (max-width: @mediumWidth) {
  .test {
  }
}

//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .test {
  }
}